.content-warning .warning:before {
    content: "[CW: ";
}

.content-warning .warning:after {
    content: "]"
}

.content-warning .warning:before, .content-warning .warning, content-warning:after {
    font-weight: bold;
}

.content-warning {
    position: absolute;
    bottom: 12px;
}

.haiku {
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
